/****************Variables***********************************/


:root {
    --bleu:RGB(147, 242, 241);
    --rouge:RGB(255, 17, 0);
    --vert: RGB(140, 234, 121);
    --jaune: RGB(255, 239, 49);
    --violet:RGB(218, 153, 250);
    --orange:RGB(255, 118, 57);
}







/****************Général******************************************/

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;

}




.body-memo {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: var(--bleu);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Jua';
}

.header-memo{
    font-size: 6vmin;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Jua;
    color:#FFF;
    text-shadow: 1vmin 1vmin 3vmin #0004;
    text-align: center;
}

.game-container-memo {
    width: 90vmin;
    /* height: 60vmin; */
    background: #f0f0f0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    box-shadow: 0 0 2vmin 1vmin #5552;
    border-radius: 2vmin;
    padding: 2vmin;
    margin: auto;
}

.game-container-memo .card-memo {
    width: 17vmin;
    height: 17vmin;
    background: #f0f0f0;
    margin: 1vmin auto;
    position: relative;
    box-shadow: 0 0 1vmin #0002;
    border-radius: 19px;
    transition: transform 0.5s ease;
    transform-style: preserve-3d;
    perspective: 100vmin;
}

.game-container-memo .card-memo .front,
.game-container-memo .card-memo .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--violet);
    border-radius: 1vmin;
}

.game-container-memo .card-memo .back {
    background: #f0f0f0;
    transform: rotateY(180deg) translateZ(0.2vmin);
    box-shadow: inset 0 0 1vmin #0002;
}


.game-container-memo .card-memo .back img {
    height: 80%;
    width: 80%;
    margin: 10%;
}

.game-container-memo .card-memo.show {
    transform: rotateY(180deg);
}

.bar-memo {
    width: 90vmin;
    height: 10vmin;
    background: #f0f0f0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 2em;
    margin: 2em;
    box-shadow: 0 0 2vmin #0002;
    border-radius: 2vmin;
}

.bar-memo > div {
    height: 90%;
    width: 30vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0;
}

.bar-memo p,
.bar-memo span {
    margin: 0;
    color: #37474f;
    font-family: 'Jua';
    font-size: 0.5em;
}

.bar-memo .start-memo button {
    width: 70%;
    height: 80%;
    background: var(--bleu);
    color: #fff;
    font-size: 2em;
    font-family: 'Jua';
    border: none;
    outline: none;
    border-radius: 2vmin;
    box-shadow: 0 0 1vmin #0003;
}

.bar-memo .start-memo button:hover {
    width: 70%;
    height: 80%;
    background: darkblue;
    color: #fff;
    font-size: 2em;
    font-family: 'Jua';
    border: none;
    outline: none;
    border-radius: 2vmin;
    box-shadow: 0 0 1vmin #0003;
}

@media only screen and (max-width : 1200px) {
    .game-container-memo {
        width: 70vw;
        grid-template-columns: repeat(3, 1fr);
        padding-bottom:2em;
    }

    .game-container-memo .card-memo {
        width: 20vmin;
        height: 20vmin;
    }

    .bar-memo {
        height: 15vmin;
    }

    .bar-memo p,
    .bar-memo span,
    .bar-memo .start-memo button {
        font-size: 4vmin;
    }
}


/*****************footer*****************/



/***********footer***************/

body {
  min-height: 100em;
}

.frog {
  width: 100%;
  position: relative;
  bottom: 0;
  min-height: 10em;
  background-color: var(--vert);



}

.paupiere {
  width: 10em;
  height: 10em;
  border-radius: 50%;
  position: absolute;
  background-color: var(--vert);
}

.droite {
  top: -5em;
  right: 10em;
}

.gauche {
  top: -5em;
  left: 10em;
}

.yeux {
  background-color: white;
  width: 8em;
  height: 8em;
  position: absolute;
  border-radius: 50%;
  top: 15px;
  left: 15px;
}

.pupille {
  width: 5em;
  height: 5em;
  border-radius: 50%;
  position: absolute;
  top: 23px;
  left: 23px;
  background-color: black;
}

.mouth {
  position: absolute;
  top: 50%;
  left: 45%;
  width: 100px;
  height: 50px;
  /* as the half of the width */
  border-bottom-left-radius: 110px;
  /* 100px of height + 10px of border */
  border-bottom-right-radius: 110px;
  /* 100px of height + 10px of border */
  border: 5px solid black;
  border-top: 0;

}

.rainbow-menu {
  
  
  width: 100%;
  height: 20em;
  z-index: 0;
  position: relative;
  top: -7.9rem;
  
}



.color {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.bande {
  flex-basis: 1em;
  flex-grow: 1;
}

.bande:nth-child(1) {
  background-color: var(--rouge);
}

.bande:nth-child(2) {
  background-color: var(--orange);
}

.bande:nth-child(3) {
  background-color: var(--jaune);
}

.bande:nth-child(4) {
  background-color: var(--vert);
}

.bande:nth-child(5) {
  background-color: var(--bleu);
}

.bande:nth-child(6) {
  background-color: var(--violet);
}


.footer-button {
  background-color: white;
  position: relative;
  top: 40%;
  padding: 1em 2em 1em 2em;
  font-size: 25px;
  border-radius: 15px;
  border: none;
  z-index: 3;
  font-family: "jua";
}

.footer-button:hover {
  cursor: pointer;
}

.news {
  left: 15%;
}

.note-button {
  right: -57%;

}

.footer-button p {
  margin: 0;
}


@keyframes rainbow-translate {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);


  }

}



/*
.rainbow-menu:hover {
  animation-play-state: paused;
}
*/

/*****************modale note**********************/

.note {
  margin: 1em;
  width: 40em;
  position: absolute;
  top: -67rem;
  left: 98rem;
  z-index: 10;
  
}
.opacity {
  display: none;
  z-index: -5;
}

.box-note {
  width: 80%;
  background-color: white;
  height: 60%;
  border: solid black 5px;
  border-radius: 10%;
}

.bulle {
  background-color: white;
  border-radius: 50%;
  border: solid black 3px;
  width: 2em;
  height: 2em;
  margin: .2em;

}

.note-title {
  text-align: center;
  font-size: 3em;
  margin-bottom: 0;
}

.container-bulle {

  width: 30%;
  display: flex;
  flex-direction: column;
}

.bulle:nth-child(2) {
  align-self: center;


}

.bulle:nth-child(3) {
  align-self: flex-end;

}

.grille-note {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1em;
  gap: 1em;
}

.box-rainbow {
  width: .5rem;
  flex-basis: 0.5em;
  flex-grow: 1;
  background-image: url('../img/rainbow-note.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.5;

}
.box-rainbow:hover {
  cursor: pointer;
}

.grille-note p {
  text-align: center;
  font-size: 3em;


}
