/****************Variables***********************************/


:root {
    --bleu:RGB(147, 242, 241);
    --rouge:RGB(255, 17, 0);
    --vert: RGB(140, 234, 121);
    --jaune: RGB(255, 239, 49);
    --violet:RGB(218, 153, 250);
    --orange:RGB(255, 118, 57);
    

    
    
    
}








/****************Général******************************************/

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}
/****************Header************************/
.container{
  max-width: 1200px;
  margin: auto;
  background-color: var(--bleu);
}
header{
    background-image: url("../img/image-chat-header.jpg");
    background-size: 100%  300%;
    /* background-repeat: no-repeat; */
    object-fit: cover;
    width: 100%;
    background-position: 20% 40%;
}
.div-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header li{
    list-style: none;
    padding: 1em 1.5em;
    margin-bottom: 1.5em;
    margin: 2em;
}

a{
    text-decoration: none;
    color: black;
}
.chat{
    width: 15em;
}
.search{
    text-align: end;
    margin-right: 2em;
    height: 3em;
    /* border: 5px solid red; */
}
img{
    width: 100%;
    height: auto;
    /* object-fit: cover; */
}
.connection {
    background-color: var(--orange);
}
.Inscription {
    background-color: var(--jaune);
}
.navbar {
    display: flex;
    justify-content: space-around;
}

input{
    max-height: 200px;
    width: 20%;
    padding: 0.5em 1.5em;
    /* border: 5px solid salmon; */
    border-radius: 1em;

}

/****************Main*************************/
h1{
    font-family: jua;
}
.button-nav{
    padding: 1em 2.5em;
    margin-top: 0.5em;
    border-radius: 10em;
}

.accueil {
    background-color: var(--violet);
}
.atelier {
    background-color: var(--bleu);
}
.coloriages {
    background-color: var(--vert);
}
.contact {
    background-color: rgba(255,0,0,0.7);
}

/********CARDS******/

/*.container {
    background-color: var(--bleu);
}*/
.container .jeu {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2,
h3 {
    font-family: jua;
    text-align: center;
}

h3 {
    margin: 0;
}

.img-alpha {
    
    width: 200px;
    border-radius: 1rem;

}
.card {
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 235px; 
        height: 350px;
        border-radius: 1rem;
        margin: 1rem;

}
.alphabet,
.puzzle {
    background-color: var(--vert);
}

.chiffre,
.mystere {
    background-color: var(--orange);
}

.memo {
    background-color: var(--jaune);
}

.aventure {
    background-color: var(--rouge);
}

.bloc-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 1rem;
    /*display: inline-block;*/
}

.button-jeu {
    text-decoration: none;
    color: black;
    width: 70%;
    font-family: jua;
    background-color: var(--violet);
    padding: 1em 2em;
    text-align: center;
    border-radius: 1rem;
}

/**************NUAGE***************/
#cloud1 {
    z-index: 1;
    position: absolute;
    left:0px;
    top:1.5em;
    font-size: 2em;
    color: #fff;
    animation: moveCloud 60s linear infinite;
    -webkit-animation: moveCloud 60s linear infinite;
    -moz-animation: moveCloud 60s linear infinite;
}
#cloud2 {
    z-index: 2;
    position: absolute;
    left:-20px;
    top:2em;
    font-size: 1em;
    font-weight: 900;
    color: #666;
    animation-delay:7s;
    -webkit-animation-delay:7s;
    -moz-animation-delay: 7s;
    animation: moveCloud 50s ease-in-out infinite;
    -webkit-animation: moveCloud 50s ease-in-out infinite;
    -moz-animation: moveCloud 50s ease-in-out infinite;
}
#cloud3 {
    z-index: 1;
    position: absolute;
    left:-50px;
    bottom:.5em;
    font-size: 2.5em;
    color: #a8e4ec; 
    animation: moveCloud 55s ease-out infinite;
    -webkit-animation: moveCloud 55s ease-out infinite;
    -moz-animation: moveCloud 55s ease-out infinite; 
}
#cloud4 {
    z-index: 2;
    position: absolute;
    left:-10px;
    top:3em;
    font-size: 2em;
    font-weight: 900;
    color: #999;
    animation-delay:1s;
    -webkit-animation-delay:1s;
    -moz-animation-delay: 1s;
    animation: moveCloud 50s ease-in-out infinite;
    -webkit-animation: moveCloud 50s ease-in-out infinite;
    -moz-animation: moveCloud 50s ease-in-out infinite;
}
#cloud5 {
    z-index: 2;
    position: absolute;
    left:-60px;
    top:2.8em;
    font-size: 2.5em;
    font-weight: 900;
    color: #bababa;
    color: #bababa;
    animation: moveCloud 70s ease-out infinite;
    -webkit-animation: moveCloud 70s ease-out infinite;
    -moz-animation: moveCloud 70s ease-out infinite;
}
#cloud6 {
    z-index: 2;
    position: absolute;
    left:-40px;
    top:0.5em;
    font-size: 1.8em;
    font-weight: 900;
    color: #cacaca;
    animation-delay:4s;
    -webkit-animation-delay:4s;
    -moz-animation-delay: 4s;
    animation: moveCloud 55s ease-in infinite;
    -webkit-animation: moveCloud 55s ease-in infinite;
    -moz-animation: moveCloud 55s ease-in infinite;
}

@keyframes moveCloud {
    0% {
        transform: translate(1950px);
    }
    100% {
        transform: translate(-50px);
    }
}
@-webkit-keyframes moveCloud {
    0% {
        transform: translate(1950px);
    }
    100% {
        transform: translate(-50px);
    }
}
@-moz-keyframes moveCloud {
    0% {
        transform: translate(1950px);
    }
    100% {
        transform: translate(-50px);
    }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        width: 50%;
        
    }
}

@media screen and (min-width: 1200px) {
    .cards {
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        width: 50%;
        
    }
}

@media screen and (min-width: 1200px) {
    .cards {
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
    }
}

/**********************pixelart***********************/
.body-pixelart {
   background-color: purple;
}
.section-pixelart {
    background-color: purple;
}

.rull-block{
    display:flex;
    align-items:center;
    width: 290px;
    justify-content:space-around;
    margin:0 auto;
}
.container{
    width:50px;
    height:70px;
    background-color: white;
   
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    align-items:center;
    position:relative;
   
}
.container-size{
    justify-content:space-between;
   
    
   
}

.container .container-div {
    border-radius: 19px;
}
#size{
    font-size:30px;
    height:50px;
    background-color:white;
    border-radius: 19px;
    z-index:2000;
}
#clr{
    display:none;
}
label{
    width:20px;
    height:20px;
    border:solid #333 2px;
    display:inline-flex;
    border-radius:50%;
    justify-content:center;
    align-items:center;
   
}
label:before{
    content:"\1F3A8";
    position:absolute;
    top:0px;
    font-size:30px;
}
label::after{
    content:"";
   
   
    width:20px;
    height:15px;
    border:solid white 2px;
    border-radius: 19px;
    display:inline-block;
    border-radius:19px;
   
}
span{
    font-size:20px;
    border-radius: 19px;
}
button{
    border:none;
    background-color:white;
    border-radius : 19px;
}

.pinceau {
    height: 20px;
    width: 20px;
}
.wrap{
    margin:50px auto;
    display:flex;
    flex-wrap:wrap;
    width:900px;
    line-height:0;
    
   
}
.cell{
    outline:solid black 1px;
    width:90px;
    height:90px;
    display:table-cell;
    background-color:white;
    font-size:30px;
    font-family:'Comic Neue';
    font-weight:bold;
    text-align:center;
    color:green;
    line-height:30px;
}

.cell10{
    width:60px;
    height:20px;
}
/*---*/

.select{
    width:50px;
    margin:0 auto;
    position:relative;
    border-radius: 19px;
    background:#fff;
    z-index:100;
    text-align:center;
}
.select.is-active .select__body{
    top:100%;
    transform:scale(1, 1) translateY(0px);
    transition:top 0.5s;
}
.select__header{
   
   
    cursor:pointer;
    display:flex;
    align-items:center;
    justify-content:center;
}
.select__current{
    font-size:14px;
    line-height:22px;
   
    background:#fff;
    text-align:center;
}

.select__body{
    border:solid black 1px;
    border-too:0;
    background-color:rgba(255,255,255,0.5);
    left:0;
    right:0;
    top:-48px;
    position:absolute;
    transform:scale(0, 0) translateY(-50px);
    transition:transform 0.5s;
   
    z-index:-1;
}
.select__item{
    cursor:pointer;
    font-size:14px;
    line-height:24px;
    padding:5px;
   text-align:center;
}
.select__item:hover{
    background-color:#f2f2f2;
}

.box10{
    width:29px;
    height:29px;
}








/***********footer***************/

body {
    min-height: 100em;
  }
  
  .frog {
    width: 100%;
    position: relative;
    bottom: -300px;
    min-height: 10em;
    background-color: var(--vert);
    
  
    
  }
  
  .paupiere {
    width: 10em;
    height: 10em;
    border-radius: 50%;
    position: absolute;
    background-color: var(--vert);
  }
  .droite {
    top: -5em;
    right: 10em;
  }
  
  .gauche {
    top: -5em;
    left: 10em;
  }
  
  .yeux {
    background-color: white;
    width: 8em;
    height: 8em;
    position:absolute;
    border-radius: 50%;
    top: 15px;
    left: 15px;
  }
  
  .pupille {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    position: absolute;
    top: 23px;
    left: 23px;
    background-color: black;
  }
  
  .mouth {
    position: absolute;
    top: 50%;
    left: 45%;
    width: 100px;
      height: 50px; /* as the half of the width */
      
      border-bottom-left-radius: 110px;  /* 100px of height + 10px of border */
      border-bottom-right-radius: 110px; /* 100px of height + 10px of border */
      border: 5px solid black;
      border-top: 0;
    
  }
  .rainbow-menu {
    position: absolute;
    top: -200%;
    left: 0;
    width: 100%;
    height: 20em;
    z-index: -1;
    list-style: none;
    
  }
  .bande {
    
  }
  .color {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .bande {
    flex-basis: 1em;
    flex-grow: 1;
  }
  
  .bande:nth-child(1){
    background-color: var(--rouge);
  }
  .bande:nth-child(2){
    background-color: var(--orange);
  }
  .bande:nth-child(3){
    background-color: var(--jaune);
  }
  .bande:nth-child(4){
    background-color: var(--vert);
  }
  .bande:nth-child(5){
    background-color: var(--bleu);
  }
  .bande:nth-child(6){
    background-color: var(--violet);
  }
  
  
  .footer-button {
    background-color: white;
    position: absolute;
    top: 40%;
    padding: 1em 2em 1em 2em;
    font-size: 25px;
    border-radius: 15px;
    border: none;
  }
  
  .news {
    left: 15%;
  }
  
  .note {
    right: 15%;
  }
  
  
  @keyframes rainbow-translate{
      0% {
          transform: translateY(0%);
      }
      100% {
          transform: translateY(-100%);
          
          
      }
      
  }
  
  
  
  /*
  .rainbow-menu:hover {
    animation-play-state: paused;
  }
  */
  