
/****************Variables***********************************/


:root {
    --bleu:RGB(147, 242, 241);
    --rouge:RGB(255, 17, 0);
    --vert: RGB(140, 234, 121);
    --jaune: RGB(255, 239, 49);
    --violet:RGB(218, 153, 250);
    --orange:RGB(255, 118, 57);
}








/****************Général******************************************/

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
   

}



/************Formulaire de contact**********************************/
.header-form {
    font-family: 'Jua';
    font-size: 2em;
    text-align: center;
   
}

.body-form {
    background-color: #FFF;
    margin: 4em;
    padding:1em;
    font-family: Jua;
    
}


.container-form {
    background-color: var(--bleu);/*linear-gradient(45deg, var(--violet), var(--bleu), var(--vert), var(--jaune), var(--orange), var(--rouge);*/
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 1em;
    color: white;
    font-size: 2em;
}

fieldset {
    border:1px solid rgba(0, 0, 0, 0.2);
    border-radius: 1.2em; ;
}

.fieldset-form,
.toolbar-form {
    padding: 1em;
    border-radius: 1.2em;
    margin: 1em 0;
}
.toolbar-form {
	text-align: center;
}

.field-form {
    display: flex;
    flex-wrap: no-wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    line-height: black 1em;
}
legend {
    border-color: black;
    border-radius: 19px;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 0.5em;
    padding-left: 0.5em;
     margin: 2em 0;
}

.field-form input,
.field-form select, .field-form textarea {
    width: 70%;
    line-height: 2em;
    border: 1px solid white;
    border-radius: 1.2em;
    padding: 0.5em 1em;
    color: #333;
}
.field-form label {
    width: 30%;
    margin :1em;
}
.field-form select, .field textarea {
    width: 100%;
    background-color: white;
}

.field-form textarea {
    resize: vertical;
    
}

.field-form + .field-form {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.submit-button-form {
    font-family: 'Jua';
    Font-size: 1em;
    font-weight: bold;
    padding: 1em 2em;
    color: #FFF;
    background-color: var(--violet);
    border: 1px solid #black;
    border-radius: 1.2em;
    cursor: pointer;
}

.submit-button-form:hover {
    font-weight: bold;
    color: #FFF;
    background-color: darkblue;
    cursor: pointer;
}